---
import BaseLayout from '../layouts/BaseLayout.astro';
import Comparator from '../components/Comparator/Comparator.astro';
---

<BaseLayout betweenMainAndFooterClass="grow" mainClass="flex w-[95%] 2xl:w-[50%] space-y-48 place-content-center text-center items-center self-center flex flex-col"> 
	
	<div class="overflow-hidden flex absolute top-0 w-full h-fit">
		<canvas id="animation_bg" class="overflow-hidden flex absolute top-0 w-full h-full"></canvas>

		<div class="w-[105%] 2xl:w-[200%] z-40 overflow-hidden flex flex-col top-0 pointer-events-none h-fit">
			
			<h1 class="flex text-5xl place-self-center mb-14 z-10 cursor-default mt-36">The First Password Manager on blockchain</h1>
	
			<svg class="flex" viewBox="0 0 4000 1000">
				<path style="stroke-dasharray: 40000;stroke-dashoffset: 40000;animation: svgLine 3s linear forwards;" fill="none" stroke="#fff" stroke-width="4" d="M9 993l147-195 208.5 160.5 223.5-222 190.5 156L930 780c3 0 247.5 160.5 247.5 160.5l256.5-129L1545 957l150-60 262.5 94 41.25-29.75C1765.5 951 1653.33 736 1623 567c-33-174 60-460.5 259.67-521.67 12 62.34 93.66 83.67 128.33 80.67 59.67 1.67 121.33-32.67 131.5-86 208 110 263.5 294.5 259.5 478-6 205.33-159.33 443.33-385.5 442l.59-36C2194 919 2345 765 2367 512c6-294-198.55-426.23-206.75-421-35.25 61.5-125.25 75-147.75 72-38.5 1-120-16.5-151.23-74.09C1678 200 1651.67 401.33 1654.67 522.33c40 362.34 300.66 406.34 348.66 402.34V886s-54.2-1.18-96.83-20.25c-51.98-23.26-94.25-65.25-94.25-65.25L1911 673.25l197-.16L2205.25 801c-42.5 50-140.16 89.28-191.25 84.33 81.33 4 171-56.33 190-84l25.64-28.6c55.69-64.06 88.69-163.4 93.27-236l-109.46.18L2135 649l91.33 120-90.66-119.67-36.67-12-180-.33-86.33-123.67L1919.33 391l180.34-.33 85.33 123L2101.67 633 2184 514.33l36-14 105-.33c3.67-104.67-37-221-75.67-268.67l-114 149 82 115.67-80.66-114.67-27.03-26.69L2227.25 200l-58.5-55.25c-42.08 43.92-118.75 61.92-158 60.5-67.42 4.08-142.75-39.92-158.5-62l-61.5 58L1909 355h196.5l-195.5-.33-27.75 25.58-113.92-148.92C1723 292 1691 399.67 1694 500.33l104-.33 82-115.33L1797.67 500l7.33 36.67-109-.05c2.33 78.05 52 192.05 92.67 236.38l95-124.33-77-109 76.66 109 28.67 26-98.33 126.66C1844.25 834.5 1924.25 891 2008.5 885l1 96 300.5-85.5 198 85.5c0 1.5 157.5-193.5 157.5-193.5l357 180 210-253.5 444 213L3903 670.5l91.5 319.5"/>
				<path class="animate-[logoAppears_3s]" fill="#0EA5E9" d="M2142.753 42.063l-7.255 18.741c-14.05 36.547-62.967 67.604-124.085 67.604-61.508 0-110.359-31.588-124.085-68.577l-4.388-11.866h-16.942l-3.842 1.889c-143.919 71.262-242.627 241.401-242.627 437.734 0 258.783 173.778 472.72 391.885 472.72s390.609-213.995 390.609-472.72c0-195.671-98.201-364.842-241.289-436.519l-17.978-9.005zm-280.539 49.223c26.793 45.037 84.083 73.566 149.197 73.566 64.633 0 121.756-27.902 148.894-72.407 119.995 68.92 205.268 219.424 205.268 395.143 0 242.653-160.134 436.334-354.16 436.334s-355.375-193.738-355.375-436.336c0-176.291 85.631-327.648 206.18-396.295zm-9.322 54.032c-22.155 15.97-42.647 35.18-61.005 57.198l117.747 153.518h199.536l117.749-153.578c-17.675-21.19-37.29-39.83-58.508-55.434-35.445 36.259-92.603 59.815-156.998 59.815-65.374 0-123.207-24.314-158.519-61.517zm-83.679 87.439c-46.782 69.152-75.028 158.699-75.028 256.594 0 3.968.092 7.921.185 11.864h104.216l84.535-119.868zm480.379 0l-113.908 148.59 84.533 119.87h104.282l.18-11.866c0-97.901-28.299-187.443-75.086-256.594zM1919.872 392.42l-86.242 122.304 86.242 122.364h179.06l86.242-122.364-86.242-122.304zm-223.308 145.182c8.874 91.935 42.766 174.116 92.882 235.542l94.648-123.525-78.926-112.017zm517.069 0l-78.926 112.017 94.712 123.525c50.115-61.425 84.008-143.607 92.882-235.542h-108.67zm-301.871 135.869l-97.514 127.174c53.68 53.279 121.452 85.063 195.151 85.063s141.532-31.783 195.212-85.061l-97.514-127.172h-195.331z"/>
				<style>
					@keyframes svgLine {
						0% {stroke-dashoffset: 40000;}
						60% {stroke-dashoffset: 0;}
						100%{stroke-dashoffset: -40000},
						}
					@keyframes logoAppears {
						0% {opacity: 0;}
						85% {opacity: 0;}
						90%{opacity: 1},
					}
				</style>
			</svg>
	
			<a id="ancre" href="#ancre" class="my-6 space-x-4 font-bold place-content-center items-center flex w-fit no-underline place-self-center p-2 bg-fuchsia-700 border text-xl rounded-xl hover:scale-110 duration-300 cursor-pointer whitespace-nowrap text-white hover:drop-shadow-[0_0_10px_rgba(255,255,255,0.7)] pointer-events-auto">
				Get started
				<svg width="30px" height="30px" viewBox="0 0 24 24" stroke="white" stroke-width="2">
					<polyline data-name="Right" fill="none" points="16.4 7 21.5 12 16.4 17" stroke-linecap="round" stroke-linejoin="round"/>
					<line fill="none" stroke-linecap="round" stroke-linejoin="round" x1="8.5" x2="19.2" y1="12" y2="12"/>
				</svg>				
			</a>
	
		</div>	
	</div>



	<div id="ancre" class="w-full flex flex-col gap-6 pt-[800px]">
		<h1 id="translate-on-view" class="flex p-4 text-6xl place-self-center bg-clip-text text-transparent bg-gradient-to-l from-blue-500 to-fuchsia-500">Key Features</h1>
		
			<div class="flex flex-col gap-8 justify-between place-content-center">
				<div class="flex flex-row gap-6">
					<div class="flex w-full bg-gradient-to-tl from-sky-500 to-fuchsia-500 rounded-lg">
						<div class="flex flex-col grow m-0.5 p-4 bg-[#110c20] rounded-lg">
							<p class="text-2xl font-bold text-center text-fuchsia-500 mb-0">Open Source</p>
							<p class="text-center font-bold text-xl m-2">The project is fully open source and available on our github.</p>
							<svg class="self-center fill-sky-600" width="100px" height="100px" viewBox="0 0 24 24">
								<path fill="none" d="M0 0H24V24H0z"/>
								<path d="M12 2c5.523 0 10 4.477 10 10 0 4.4-2.841 8.136-6.789 9.473l-.226.074-2.904-7.55C13.15 13.95 14 13.054 14 12c0-1.105-.895-2-2-2s-2 .895-2 2c0 1.077.851 1.955 1.917 1.998l-2.903 7.549-.225-.074C4.84 20.136 2 16.4 2 12 2 6.477 6.477 2 12 2zm0 2c-4.418 0-8 3.582-8 8 0 2.92 1.564 5.475 3.901 6.872l1.48-3.849C8.534 14.29 8 13.207 8 12c0-2.21 1.79-4 4-4s4 1.79 4 4c0 1.207-.535 2.29-1.38 3.023.565 1.474 1.059 2.757 1.479 3.85C18.435 17.475 20 14.92 20 12c0-4.418-3.582-8-8-8z"/>
							</svg>
							
						</div>
					</div>

					<div class="flex w-full bg-gradient-to-tr from-sky-500 to-fuchsia-500 rounded-lg">
						<div class="flex flex-col grow m-0.5 p-4 bg-[#110c20] rounded-lg">
							<p class="text-2xl font-bold text-center text-fuchsia-500 mb-0">Decentralized</p>
							<p class="text-center font-bold text-xl m-2">All the data is stored on blockchain. There is no other database.</p>
							<svg class="self-center" width="100" height="100" viewBox="0 0 72 72" fill="none">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M36.0004 26.0999C33.3747 26.0999 30.8567 27.1429 29 28.9995C27.1433 30.8562 26.1003 33.3741 26.1003 35.9998C26.1003 38.6255 27.1434 41.1435 29 43.0001C30.8567 44.8568 33.3746 45.8998 36.0004 45.8998C38.6261 45.8998 41.144 44.8567 43.0007 43.0001C44.8574 41.1435 45.9004 38.6255 45.9004 35.9998C45.9004 33.3741 44.8573 30.8562 43.0007 28.9995C41.144 27.1428 38.6261 26.0999 36.0004 26.0999ZM34.0913 34.0908C34.5974 33.5845 35.2845 33.3 36.0005 33.3C36.7164 33.3 37.4035 33.5846 37.9097 34.0908C38.416 34.5969 38.7004 35.2841 38.7004 36C38.7004 36.7159 38.4159 37.403 37.9097 37.9093C37.4036 38.4155 36.7164 38.7 36.0005 38.7C35.2846 38.7 34.5975 38.4154 34.0913 37.9093C33.585 37.4031 33.3005 36.7159 33.3005 36C33.3005 35.2841 33.5851 34.597 34.0913 34.0908ZM35.1692 36.3444C35.3082 36.6807 35.6365 36.9001 36.0005 36.9001C36.2391 36.9001 36.4682 36.8052 36.6369 36.6365C36.8057 36.4677 36.9005 36.2387 36.9005 36.0001C36.9005 35.6361 36.6811 35.3078 36.3448 35.1688C36.0085 35.0293 35.6216 35.1061 35.3641 35.3636C35.1065 35.6212 35.0298 36.0081 35.1692 36.3444Z" fill="#007AFF"></path>
								<path class="fill-fuchsia-500" d="M40.9499 12.15C40.9499 10.8373 40.4284 9.57811 39.5003 8.64962C38.5717 7.7215 37.3125 7.19995 35.9999 7.19995C34.6874 7.19995 33.4281 7.72147 32.4996 8.64962C31.5715 9.57814 31.0499 10.8374 31.0499 12.15C31.0499 13.4625 31.5714 14.7218 32.4996 15.6503C33.4281 16.5784 34.6874 17.1 35.9999 17.1C37.3125 17.1 38.5718 16.5784 39.5003 15.6503C40.4284 14.7218 40.9499 13.4625 40.9499 12.15ZM35.9999 13.05C35.6359 13.05 35.3076 12.8306 35.1686 12.4943C35.0292 12.158 35.106 11.7711 35.3635 11.5135C35.621 11.256 36.008 11.1792 36.3443 11.3187C36.6806 11.4577 36.8999 11.7859 36.8999 12.15C36.8999 12.3886 36.8051 12.6176 36.6364 12.7864C36.4676 12.9551 36.2386 13.05 35.9999 13.05Z"></path>
								<path d="M36.9005 19.7999C36.9005 20.2969 36.4975 20.6999 36.0005 20.6999C35.5035 20.6999 35.1005 20.2969 35.1005 19.7999C35.1005 19.3029 35.5035 18.8999 36.0005 18.8999C36.4975 18.8999 36.9005 19.3029 36.9005 19.7999Z" fill="#007AFF"></path>
								<path d="M36.9005 23.4C36.9005 23.897 36.4975 24.3 36.0005 24.3C35.5035 24.3 35.1005 23.897 35.1005 23.4C35.1005 22.903 35.5035 22.5 36.0005 22.5C36.4975 22.5 36.9005 22.903 36.9005 23.4Z" fill="#007AFF"></path>
								<path class="fill-fuchsia-500" d="M31.0509 59.8507C31.0509 61.1633 31.5724 62.4225 32.5006 63.351C33.4291 64.2791 34.6883 64.8007 36.0009 64.8007C37.3134 64.8007 38.5727 64.2792 39.5012 63.351C40.4293 62.4225 40.9508 61.1632 40.9508 59.8507C40.9508 58.5381 40.4293 57.2788 39.5012 56.3503C38.5727 55.4222 37.3134 54.9006 36.0009 54.9006C34.6883 54.9006 33.429 55.4222 32.5006 56.3503C31.5724 57.2788 31.0509 58.5381 31.0509 59.8507ZM36.0009 58.9507C36.3649 58.9507 36.6932 59.17 36.8322 59.5063C36.9716 59.8426 36.8948 60.2295 36.6373 60.4871C36.3798 60.7446 35.9928 60.8214 35.6565 60.682C35.3203 60.5429 35.1009 60.2147 35.1009 59.8507C35.1009 59.3537 35.5039 58.9507 36.0009 58.9507Z"></path>
								<path d="M36.9005 52.2001C36.9005 52.6971 36.4975 53.1001 36.0005 53.1001C35.5035 53.1001 35.1005 52.6971 35.1005 52.2001C35.1005 51.703 35.5035 51.3 36.0005 51.3C36.4975 51.3 36.9005 51.703 36.9005 52.2001Z" fill="#007AFF"></path>
								<path d="M36.9005 48.6C36.9005 49.097 36.4975 49.5 36.0005 49.5C35.5035 49.5 35.1005 49.097 35.1005 48.6C35.1005 48.103 35.5035 47.7 36.0005 47.7C36.4975 47.7 36.9005 48.103 36.9005 48.6Z" fill="#007AFF"></path>
								<path class="fill-fuchsia-500" d="M59.8509 31.0508C58.5382 31.0508 57.279 31.5723 56.3505 32.5004C55.4224 33.429 54.9009 34.6882 54.9009 36.0008C54.9009 37.3133 55.4224 38.5726 56.3505 39.5011C57.2791 40.4292 58.5383 40.9508 59.8509 40.9508C61.1634 40.9508 62.4227 40.4293 63.3512 39.5011C64.2793 38.5726 64.8009 37.3133 64.8009 36.0008C64.8009 34.6882 64.2794 33.4289 63.3512 32.5004C62.4227 31.5723 61.1634 31.0508 59.8509 31.0508ZM59.8509 36.9008C59.4869 36.9008 59.1586 36.6814 59.0196 36.3451C58.8802 36.0088 58.9569 35.6219 59.2145 35.3644C59.472 35.1068 59.8589 35.0301 60.1952 35.1695C60.5315 35.3085 60.7509 35.6368 60.7509 36.0008C60.7509 36.2394 60.6561 36.4685 60.4873 36.6372C60.3186 36.806 60.0895 36.9008 59.8509 36.9008Z"></path>
								<path d="M53.1004 35.9999C53.1004 36.4969 52.6974 36.8998 52.2004 36.8998C51.7034 36.8998 51.3004 36.4969 51.3004 35.9999C51.3004 35.5028 51.7034 35.0999 52.2004 35.0999C52.6974 35.0999 53.1004 35.5028 53.1004 35.9999Z" fill="#007AFF"></path>
								<path d="M49.5005 35.9999C49.5005 36.4969 49.0975 36.8998 48.6005 36.8998C48.1034 36.8998 47.7004 36.4969 47.7004 35.9999C47.7004 35.5028 48.1034 35.0999 48.6005 35.0999C49.0975 35.0999 49.5005 35.5028 49.5005 35.9999Z" fill="#007AFF"></path>
								<path class="fill-fuchsia-500" d="M12.1499 40.9491C13.4626 40.9491 14.7218 40.4276 15.6503 39.4994C16.5784 38.5709 17.0999 37.3116 17.0999 35.9991C17.0999 34.6865 16.5784 33.4272 15.6503 32.4987C14.7217 31.5706 13.4625 31.0491 12.1499 31.0491C10.8374 31.0491 9.57811 31.5706 8.64962 32.4987C7.7215 33.4273 7.19995 34.6865 7.19995 35.9991C7.19995 37.3116 7.72147 38.5709 8.64962 39.4994C9.57814 40.4276 10.8374 40.9491 12.1499 40.9491ZM12.1499 35.0991C12.514 35.0991 12.8422 35.3185 12.9812 35.6548C13.1207 35.991 13.0439 36.378 12.7864 36.6355C12.5288 36.8931 12.1419 36.9698 11.8056 36.8304C11.4693 36.6914 11.2499 36.3631 11.2499 35.9991C11.2499 35.5021 11.6529 35.0991 12.1499 35.0991Z"></path>
								<path d="M20.7004 35.9999C20.7004 36.4969 20.2974 36.8998 19.8004 36.8998C19.3034 36.8998 18.9004 36.4969 18.9004 35.9999C18.9004 35.5028 19.3034 35.0999 19.8004 35.0999C20.2974 35.0999 20.7004 35.5028 20.7004 35.9999Z" fill="#007AFF"></path>
								<path d="M24.3005 35.9999C24.3005 36.4969 23.8975 36.8998 23.4005 36.8998C22.9035 36.8998 22.5005 36.4969 22.5005 35.9999C22.5005 35.5028 22.9035 35.0999 23.4005 35.0999C23.8975 35.0999 24.3005 35.5028 24.3005 35.9999Z" fill="#007AFF"></path>
								<path d="M52.8669 57.8161C54.4053 57.8169 55.8569 57.1021 56.7947 55.8819C57.7321 54.6617 58.0491 53.075 57.6517 51.5884C57.2548 50.1018 56.1888 48.8844 54.7677 48.2942C53.3467 47.7044 51.7318 47.8088 50.3984 48.5771C49.0653 49.3453 48.1649 50.6896 47.9628 52.2152C47.7603 53.7404 48.279 55.2732 49.3658 56.3624C50.2919 57.295 51.5528 57.8181 52.867 57.8161H52.8669ZM52.228 52.2273L52.2276 52.2269C52.4852 51.9697 52.8721 51.893 53.2084 52.0324C53.5447 52.1718 53.7636 52.4997 53.7636 52.8637C53.7636 53.2277 53.5447 53.5556 53.2084 53.695C52.8721 53.8344 52.4852 53.7577 52.2276 53.5005C52.0589 53.3318 51.9637 53.1027 51.9637 52.8637C51.9637 52.6246 52.0589 52.3956 52.2276 52.2269L52.228 52.2273Z" fill="#007AFF"></path>
								<path d="M48.0965 46.82C48.4481 47.1716 48.4481 47.7413 48.0965 48.0929C47.7454 48.4445 47.1752 48.4445 46.8237 48.0929C46.4725 47.7413 46.4725 47.1716 46.8237 46.82C47.1752 46.4688 47.7454 46.4688 48.0965 46.82Z" fill="#007AFF"></path>
								<path d="M45.5477 44.278C45.8993 44.6296 45.8993 45.1993 45.5477 45.5509C45.1961 45.9024 44.6264 45.9024 44.2748 45.5509C43.9237 45.1993 43.9237 44.6296 44.2748 44.278C44.6264 43.9269 45.1961 43.9269 45.5477 44.278Z" fill="#007AFF"></path>
								<path d="M19.134 24.0837C20.6733 24.0849 22.1253 23.3697 23.0626 22.149C24.0004 20.9284 24.3166 19.3409 23.9189 17.8539C23.5207 16.3673 22.454 15.1503 21.0321 14.5608C19.6102 13.9714 17.995 14.0771 16.6623 14.8469C15.3291 15.6163 14.43 16.9623 14.2295 18.4883C14.0286 20.0142 14.5493 21.5466 15.6377 22.6346C16.5654 23.5615 17.8226 24.0831 19.134 24.0835L19.134 24.0837ZM18.4996 18.4992C18.7571 18.2421 19.1441 18.1654 19.4804 18.3048C19.8167 18.4442 20.0356 18.7721 20.0356 19.1361C20.0356 19.5001 19.8167 19.8279 19.4804 19.9674C19.1441 20.1068 18.7572 20.03 18.4996 19.7729C18.3308 19.6042 18.2356 19.3751 18.2356 19.1361C18.2356 18.897 18.3308 18.668 18.4996 18.4992Z" fill="#007AFF"></path>
								<path d="M25.1768 23.9067C25.5284 24.2583 25.5284 24.828 25.1768 25.1796C24.8252 25.5308 24.2555 25.5308 23.9039 25.1796C23.5524 24.828 23.5524 24.2583 23.9039 23.9067C24.2555 23.5552 24.8252 23.5552 25.1768 23.9067Z" fill="#007AFF"></path>
								<path d="M27.7257 26.4539C28.0772 26.8054 28.0772 27.3756 27.7257 27.7267C27.3741 28.0783 26.8039 28.0783 26.4528 27.7267C26.1012 27.3752 26.1012 26.805 26.4528 26.4539C26.8043 26.1023 27.3745 26.1023 27.7257 26.4539Z" fill="#007AFF"></path>
								<path d="M15.6377 56.3624C16.5659 57.2913 17.8251 57.8132 19.1381 57.8136C20.451 57.814 21.7103 57.2925 22.6388 56.3643C23.5677 55.4358 24.0893 54.1766 24.0893 52.8636C24.0893 51.5506 23.5678 50.2913 22.6388 49.3628C21.7103 48.4347 20.451 47.9132 19.1381 47.9136C17.8251 47.914 16.5658 48.4359 15.6377 49.3648C14.7036 50.2893 14.1781 51.5493 14.1781 52.8636C14.1781 54.1779 14.7036 55.4378 15.6377 56.3624ZM18.4996 52.2268C18.7572 51.9696 19.1441 51.8929 19.4804 52.0323C19.8167 52.1718 20.0357 52.4996 20.0357 52.8636C20.0357 53.2276 19.8167 53.5555 19.4804 53.6949C19.1441 53.8343 18.7572 53.7576 18.4996 53.5005C18.3309 53.3317 18.2357 53.1027 18.2357 52.8636C18.2357 52.6246 18.3309 52.3955 18.4996 52.2268Z" fill="#007AFF"></path>
								<path d="M25.184 46.8237C25.5352 47.1753 25.5352 47.745 25.184 48.0966C24.8324 48.4477 24.2623 48.4477 23.9111 48.0966C23.5596 47.745 23.5596 47.1753 23.9111 46.8237C24.2623 46.4722 24.8324 46.4722 25.184 46.8237Z" fill="#007AFF"></path>
								<path d="M27.7266 44.2742C28.0777 44.6253 28.0777 45.1955 27.7266 45.5471C27.375 45.8982 26.8049 45.8982 26.4537 45.5471C26.1022 45.1955 26.1022 44.6253 26.4537 44.2742C26.8049 43.9226 27.375 43.9226 27.7266 44.2742Z" fill="#007AFF"></path>
								<path d="M56.3631 15.6331C55.4346 14.705 54.1757 14.1838 52.8632 14.1838C51.5501 14.1842 50.2913 14.7058 49.3632 15.6343C48.4351 16.5625 47.9136 17.8213 47.9136 19.1338C47.9136 20.4469 48.4351 21.7057 49.3632 22.6338C50.2914 23.5623 51.5502 24.0838 52.8632 24.0838C54.1758 24.0843 55.4346 23.5631 56.3631 22.635C57.292 21.7065 57.8136 20.4472 57.8136 19.1338C57.8136 17.8208 57.2921 16.5612 56.3631 15.6331ZM53.5012 19.7731C53.2436 20.0302 52.8567 20.107 52.5204 19.9676C52.1841 19.8281 51.9652 19.5003 51.9652 19.1363C51.9652 18.7723 52.1841 18.4444 52.5204 18.305C52.8567 18.1656 53.2436 18.2423 53.5012 18.4994C53.6699 18.6682 53.7652 18.8972 53.7652 19.1363C53.7652 19.3753 53.6699 19.6044 53.5012 19.7731Z" fill="#007AFF"></path>
								<path d="M48.0922 23.907C48.4434 24.2585 48.4434 24.8283 48.0918 25.1798C47.7403 25.5314 47.1705 25.531 46.819 25.1794C46.4678 24.8278 46.4678 24.2581 46.8194 23.907C47.171 23.5554 47.7407 23.5554 48.0922 23.907" fill="#007AFF"></path>
								<path d="M45.5445 26.4547C45.8961 26.8062 45.8961 27.376 45.5445 27.7275C45.1934 28.0791 44.6232 28.0791 44.2721 27.7275C43.9205 27.3764 43.9201 26.8062 44.2717 26.4547C44.6232 26.1035 45.193 26.1031 45.5445 26.4547" fill="#007AFF"></path>
							</svg>				
						</div>
					</div>
				</div>
			</div>

			<div class="flex flex-row gap-6">
				<div class="flex w-full bg-gradient-to-bl from-sky-500 to-fuchsia-500 rounded-lg">
					<div class="flex flex-col grow m-0.5 p-4 bg-[#190C2C] rounded-lg">
						<p class="text-2xl font-bold text-center text-fuchsia-500 mb-0">Cross-platform</p>
						<p class="text-center font-bold text-xl m-2">Available on web extension, smartphone and tablet.</p>
						<svg class="fill-sky-500 self-center" width="100px" height="100px" viewBox="0 0 30 30">
							<path d="M25 24.5c0 .276-.224.5-.5.5s-.5-.224-.5-.5.224-.5.5-.5.5.224.5.5zM23.5 12h2c.277 0 .5.223.5.5s-.223.5-.5.5h-2c-.277 0-.5-.223-.5-.5s.223-.5.5-.5zm-3-2c-.822 0-1.5.678-1.5 1.5v14c0 .822.678 1.5 1.5 1.5h8c.822 0 1.5-.678 1.5-1.5v-14c0-.822-.678-1.5-1.5-1.5zm0 1h8c.286 0 .5.214.5.5v14c0 .286-.214.5-.5.5h-8c-.286 0-.5-.214-.5-.5v-14c0-.286.214-.5.5-.5zM14 19.5c0 .276-.224.5-.5.5s-.5-.224-.5-.5.224-.5.5-.5.5.224.5.5zM1.5 3C.678 3 0 3.678 0 4.5v16c0 .822.678 1.5 1.5 1.5H11v2H9.5c-.277 0-.5.223-.5.5s.223.5.5.5h8c.277 0 .5-.223.5-.5s-.223-.5-.5-.5H16v-2h1.5c.668 0 .656-1 0-1h-16c-.286 0-.5-.214-.5-.5V18h16.5c.277 0 .5-.223.5-.5s-.223-.5-.5-.5H1V4.5c0-.286.214-.5.5-.5h24c.286 0 .5.214.5.5v4c0 .665 1 .657 1 0v-4c0-.822-.678-1.5-1.5-1.5zM12 22h3v2h-3z"/>
						</svg>
					</div>
				</div>

				<div class="flex w-full bg-gradient-to-br from-sky-500 to-fuchsia-500 rounded-lg">
					<div class="flex flex-col grow m-0.5 p-4 bg-[#110c20] rounded-lg">
						<p class="text-2xl font-bold text-center text-fuchsia-500 mb-0">Cryptography</p>
						<p class="text-center font-bold text-xl m-2">The security is ensured by couple of wallet key build with elliptic curve cryptography</p>
						<svg class="self-center" width="100" height="100" viewBox="0 0 72 72" fill="none">
							<path class="stroke-fuchsia-500" d="M51 28V24C51 16.268 44.732 10 37 10V10C29.268 10 23 16.268 23 24V28" stroke-width="5"></path>
							<path class="fill-sky-500" fill-rule="evenodd" clip-rule="evenodd" d="M21 30C18.7909 30 17 31.7909 17 34V54C17 58.4183 20.5817 62 25 62H49C53.4183 62 57 58.4183 57 54V34C57 31.7909 55.2091 30 53 30H21ZM29.0525 40.4922C30.6651 38.1062 34.0406 35.6563 38.1549 36.0255C40.6591 36.2503 42.5418 37.1556 43.9119 38.482C44.2095 38.7701 44.2172 39.2449 43.9291 39.5425C43.641 39.8401 43.1662 39.8478 42.8686 39.5597C41.767 38.4933 40.2151 37.7165 38.0208 37.5195C34.5864 37.2113 31.6872 39.2727 30.2952 41.3322C30.0633 41.6753 29.597 41.7655 29.2538 41.5336C28.9107 41.3016 28.8205 40.8354 29.0525 40.4922ZM44.4133 40.1827C44.7733 39.9778 45.2312 40.1036 45.4361 40.4636C47.2733 43.6924 47.207 47.8869 46.7104 50.5347C46.634 50.9418 46.2421 51.2099 45.835 51.1336C45.4279 51.0572 45.1597 50.6653 45.2361 50.2582C45.7028 47.7702 45.7178 43.9919 44.1324 41.2054C43.9275 40.8454 44.0533 40.3875 44.4133 40.1827ZM28.724 42.8345C29.1383 42.8345 29.474 43.1703 29.474 43.5845L29.474 43.6166C29.4741 44.3232 29.4741 44.8758 29.3359 45.558C29.1981 46.2384 28.9289 47.0223 28.4335 48.2452C28.2779 48.6291 27.8406 48.8142 27.4567 48.6587C27.0728 48.5032 26.8877 48.0659 27.0433 47.682C27.5335 46.472 27.7572 45.7962 27.8658 45.2602C27.9719 44.7363 27.974 44.3221 27.974 43.5845C27.974 43.1703 28.3098 42.8345 28.724 42.8345ZM36.7708 39.5233C36.7939 39.1097 37.1479 38.7932 37.5615 38.8163C37.932 38.8371 38.3161 38.8822 38.7137 38.9536C41.4113 39.4378 43.1461 40.9607 43.9865 43.1152C44.8067 45.2178 44.7486 47.8462 44.0864 50.5733C43.9886 50.9758 43.5831 51.2228 43.1805 51.1251C42.778 51.0273 42.531 50.6218 42.6287 50.2193C43.2525 47.6507 43.2545 45.3663 42.5891 43.6603C41.9439 42.0063 40.6475 40.8247 38.4487 40.43C38.108 40.3689 37.7846 40.3312 37.4778 40.314C37.0642 40.2909 36.7477 39.9369 36.7708 39.5233ZM35.542 39.681C35.691 40.0675 35.4985 40.5016 35.112 40.6506C32.8166 41.5358 31.8613 43.973 31.9377 45.4929L31.9387 45.5118V45.5306C31.9387 46.4011 31.6531 47.4849 31.1891 48.4664C30.7264 49.4453 30.0348 50.4317 29.1368 51.0228C28.7909 51.2505 28.3258 51.1546 28.098 50.8086C27.8703 50.4626 27.9662 49.9975 28.3122 49.7698C28.8927 49.3877 29.4332 48.6712 29.833 47.8254C30.2277 46.9903 30.4347 46.1361 30.4386 45.5474C30.3469 43.5382 31.5469 40.4178 34.5723 39.2511C34.9588 39.102 35.3929 39.2945 35.542 39.681ZM43.0153 51.6787C43.407 51.8135 43.6152 52.2402 43.4805 52.6319C43.2571 53.2809 43.0026 53.9342 42.719 54.5875C42.5541 54.9674 42.1124 55.1417 41.7324 54.9768C41.3524 54.8119 41.1781 54.3701 41.3431 53.9902C41.6118 53.3711 41.852 52.7542 42.0621 52.1438C42.1969 51.7521 42.6236 51.5439 43.0153 51.6787ZM38.7535 41.3949C36.7657 40.9251 35.2339 41.4211 34.2258 42.4496C33.259 43.4361 32.8606 44.8245 32.9026 46.0299C32.9001 46.3905 32.7872 47.0913 32.5069 47.9501C32.3783 48.3439 32.5933 48.7673 32.9871 48.8959C33.3808 49.0244 33.8043 48.8094 33.9328 48.4156C34.2431 47.465 34.4027 46.5911 34.4027 46.0174V46.0031L34.4021 45.9888C34.3685 45.1092 34.6678 44.1417 35.2971 43.4996C35.8895 42.8951 36.8618 42.4891 38.4085 42.8547C39.0867 43.015 39.5653 43.4152 39.8903 44.0258C40.0849 44.3914 40.5391 44.5301 40.9047 44.3355C41.2704 44.1409 41.409 43.6867 41.2144 43.321C40.707 42.3677 39.8916 41.6639 38.7535 41.3949ZM41.7876 45.4241C41.7286 45.0141 41.3485 44.7295 40.9385 44.7885C40.5285 44.8474 40.2439 45.2275 40.3028 45.6375C40.6708 48.1979 39.5812 51.8596 37.4764 54.8284C37.2368 55.1663 37.3165 55.6344 37.6544 55.874C37.9923 56.1136 38.4604 56.0339 38.7 55.696C40.9485 52.5247 42.2269 48.4812 41.7876 45.4241ZM32.7989 50.9246C33.0112 50.5689 32.895 50.1085 32.5393 49.8962C32.1836 49.6838 31.7232 49.8001 31.5109 50.1557C31.0396 50.9453 30.4508 51.6778 29.738 52.2408C29.4129 52.4975 29.3575 52.9692 29.6143 53.2942C29.871 53.6193 30.3426 53.6746 30.6677 53.4179C31.5577 52.715 32.259 51.829 32.7989 50.9246ZM36.0367 43.9734C36.4247 43.6036 36.9152 43.4482 37.3964 43.4482C38.049 43.4482 38.62 43.7086 39.0209 44.2104C39.4003 44.6851 39.5783 45.3127 39.6232 45.9862C39.7129 47.3309 39.2922 49.1329 38.3595 51.192C38.1886 51.5693 37.7442 51.7366 37.3668 51.5657C36.9895 51.3948 36.8222 50.9504 36.9931 50.5731C37.8773 48.621 38.1929 47.0808 38.1266 46.0861C38.0935 45.5899 37.9704 45.2985 37.8491 45.1467C37.7493 45.0219 37.6201 44.9482 37.3964 44.9482C37.239 44.9482 37.1391 44.9949 37.0717 45.0592C37.0019 45.1257 36.8981 45.2775 36.8627 45.6097C36.8188 46.0216 36.4493 46.32 36.0374 46.2761C35.6256 46.2322 35.3272 45.8627 35.3711 45.4508C35.4346 44.8552 35.6512 44.341 36.0367 43.9734ZM36.1169 47.2131C36.5311 47.2131 36.8669 47.5489 36.8669 47.9631C36.8669 48.9431 36.4347 50.2896 35.7225 51.5492C35.0021 52.8231 33.9341 54.1177 32.5565 54.9338C32.2001 55.1449 31.74 55.0271 31.5289 54.6707C31.3178 54.3144 31.4356 53.8543 31.792 53.6432C32.8785 52.9996 33.7819 51.9336 34.4168 50.8108C35.0598 49.6737 35.3669 48.5874 35.3669 47.9631C35.3669 47.5489 35.7027 47.2131 36.1169 47.2131ZM37.0779 52.1245C37.4383 52.3287 37.5649 52.7864 37.3607 53.1468C36.8986 53.9624 36.3615 54.8135 35.7453 55.6922C35.5075 56.0314 35.0398 56.1135 34.7006 55.8757C34.3615 55.6379 34.2793 55.1702 34.5171 54.831C35.1073 53.9894 35.6185 53.1788 36.0556 52.4074C36.2598 52.047 36.7175 51.9204 37.0779 52.1245Z"></path>
						</svg>
						
					</div>
				</div>
		</div>
	</div>

	<div class="flex flex-row w-full place-content-center gap-4">

		<div class="flex flex-col basis-1/2 bg-[#110c20] border border-solid rounded-lg place-content-center items-center drop-shadow-[0_0_10px_rgba(255,255,255,0.7)]">
			<h2 class="self-center text-center flex">The Graph</h2>
			<div class="flex flex-row w-full p-2 place-content-center items-center">
				<svg class="basis-1/4 drop-shadow-[0_0_20px_rgba(255,255,255,0.7)] p-4" width="100px" viewBox="20 20 60 60">
					<path d="M47.3 54.2a12.76 12.76 0 0 1-12.8-12.8 12.76 12.76 0 0 1 12.8-12.8 12.76 12.76 0 0 1 12.8 12.8 12.76 12.76 0 0 1-12.8 12.8m0-32c10.6 0 19.2 8.6 19.2 19.2s-8.6 19.2-19.2 19.2S28.1 52 28.1 41.4s8.6-19.2 19.2-19.2zm18.3 39.4c1.3 1.3 1.3 3.3 0 4.5L52.8 78.9c-1.3 1.3-3.3 1.3-4.5 0-1.3-1.3-1.3-3.3 0-4.5l12.8-12.8c1.2-1.3 3.3-1.3 4.5 0zM73 25.4c0 1.8-1.4 3.2-3.2 3.2s-3.2-1.4-3.2-3.2 1.4-3.2 3.2-3.2c1.7 0 3.2 1.4 3.2 3.2z" fill-rule="evenodd" fill="#fff"/>
			    </svg>
				<p class="p-4 text-center basis-3/4">Passhield use The Graph technology for querying filecoin network. Anyone can build and publish open APIs, called subgraphs, making data easily accessible.</p>
			</div>

		
		</div>

		<div class="flex flex-col basis-1/2 bg-[#110c20] border border-solid rounded-lg place-content-center items-center drop-shadow-[0_0_10px_rgba(255,255,255,0.7)]">
			<h2 class="self-center flex">Gnosis Chain</h2>
			<div class="flex flex-row w-full p-2">
				<p class="p-4">Passhield uses Gnosis Chain to safely store the users' credentials.</p>
				<svg class="basis-1/4 drop-shadow-[0_0_20px_rgba(255,255,255,0.7)] p-4" viewBox="0 0 428 428" width="90px" fill="#fff"><path d="M125.8 243.7c12.3 0 24.3-4.1 34-11.6l-78-78c-18.8 24.3-14.3 59.3 10 78.1 9.8 7.4 21.7 11.5 34 11.5h0zm232-55.7c0-12.3-4.1-24.3-11.6-34l-78 78c24.3 18.8 59.2 14.3 78-10 7.5-9.7 11.6-21.7 11.6-34zm39.3-84.9l-34.5 34.5c27.8 33.3 23.4 82.9-9.9 110.7-29.2 24.4-71.6 24.4-100.8 0L214 286.2l-37.8-37.8c-33.3 27.8-82.9 23.4-110.7-9.9-24.4-29.2-24.4-71.6 0-100.8L47.8 120 31 103.1C10.7 136.5 0 174.9 0 214c0 118.2 95.8 214 214 214s214-95.8 214-214c.1-39.1-10.7-77.5-30.9-110.9zm-28.3-36.8c-81.5-85.5-216.9-88.7-302.4-7.2-2.5 2.4-4.9 4.8-7.2 7.2-5.3 5.6-10.3 11.4-15 17.5L214 253.7 383.8 83.8c-4.6-6.1-9.7-11.9-15-17.5zM214 28c50 0 96.6 19.3 131.6 54.5L214 214.1 82.4 82.5C117.4 47.3 164 28 214 28z"/></svg>
			</div>
		</div>
	</div>


	<div class="flex flex-col space-y-36">
		<div class="flex flex-row border-solid border-b border-0 border-white pb-4">
			<div class="flex flex-col basis-1/2">
				<h1 class="flex text-6xl place-self-center whitespace-nowrap text-sky-400">Security</h1>
				<p class="flex text-justify text-lg w-2/3 self-center">Passhield is a password manager that allows you to store your passwords in a secure way.</p>
			</div>
			<div class="flex self-center basis-1/2 place-content-center">
				<svg height="200px" width="200px" viewBox="0 0 512 512">
					<path class="fill-sky-900" d="M493.118,60.602c-40.138,17.719-93.777,20.322-143.881-0.447C324.872,50.055,273.523,25.223,255.999,0
						c-17.521,25.223-68.871,50.055-93.236,60.154C112.657,80.924,59.021,78.32,18.88,60.602c-7.203-3.182-15.096,2.08-15.096,9.955
						C3.784,493.475,255.999,512,255.999,512s252.217-18.525,252.217-441.443C508.216,62.682,500.323,57.42,493.118,60.602z
						 M89.155,125.33c32.033,0,63.305-6.23,92.947-18.518c16.129-6.686,46.719-20.51,73.896-39.258
						c27.178,18.748,57.77,32.572,73.898,39.258c29.647,12.289,60.918,18.52,92.949,18.518c11.256,0,22.45-0.801,33.428-2.367
						C439.72,416.264,284.815,456.182,255.999,461.07c-28.814-4.889-183.72-44.807-200.273-338.108
						C66.704,124.531,77.899,125.33,89.155,125.33z"/>
					<path class="fill-sky-400" d="M255.999,409.279c29.94-8.686,119.684-49.879,144.676-234.27c-30.955-2.328-61.182-9.543-90.117-21.539
						c-12.354-5.121-32.789-14.211-54.559-26.502c-21.768,12.291-42.201,21.381-54.556,26.502
						c-28.932,11.994-59.156,19.209-90.117,21.539C136.317,359.4,226.06,400.594,255.999,409.279z"/>
				</svg>
			</div>
		</div>

		<div class="flex flex-row border-solid border-b border-0 border-white pb-4">
			<div class="flex self-center basis-1/2 place-content-center">
				<svg width="300" height="300" viewBox="0 0 327 327" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle class="fill-fuchsia-400" cx="163.5" cy="83.2923" r="21.5943"></circle>
					<path class="fill-sky-400" fill-rule="evenodd" clip-rule="evenodd" d="M155.016 112.599C140.96 112.599 129.566 123.993 129.566 138.049C129.566 144.438 134.745 149.618 141.134 149.618H185.865C192.254 149.618 197.434 144.438 197.434 138.049C197.434 123.993 186.039 112.599 171.983 112.599H155.016ZM161.572 123.782C161.572 122.717 162.435 121.854 163.5 121.854C164.564 121.854 165.428 122.717 165.428 123.782V129.566H170.441C171.506 129.566 172.369 130.429 172.369 131.494C172.369 132.559 171.506 133.422 170.441 133.422H165.428V138.435C165.428 139.5 164.564 140.363 163.5 140.363C162.435 140.363 161.572 139.5 161.572 138.435V133.422H155.787C154.723 133.422 153.859 132.559 153.859 131.494C153.859 130.429 154.723 129.566 155.787 129.566H161.572V123.782Z"></path>
					<circle class="fill-fuchsia-300" cx="86.3772" cy="91.0046" r="15.4245"></circle>
					<path class="fill-sky-300" d="M61.698 131.687C61.698 121.145 70.2439 112.599 80.7859 112.599H91.9686C102.511 112.599 111.056 121.145 111.056 131.687C111.056 136.479 107.172 140.363 102.38 140.363H70.3743C65.5825 140.363 61.698 136.479 61.698 131.687Z"></path>
					<circle class="fill-fuchsia-300" cx="240.623" cy="91.0046" r="15.4245"></circle>
					<path class="fill-sky-300" d="M215.943 131.687C215.943 121.145 224.489 112.599 235.031 112.599H246.214C256.756 112.599 265.302 121.145 265.302 131.687C265.302 136.479 261.417 140.363 256.626 140.363H224.62C219.828 140.363 215.943 136.479 215.943 131.687Z"></path>
					<rect class="fill-sky-200" x="129.566" y="197.434" width="67.8679" height="67.8679" rx="6.16981"></rect>
					<rect x="141.906" y="209.773" width="43.1887" height="43.1887" rx="21.5943" fill="#007AFF"></rect>
					<rect x="163.5" y="222.884" width="12.3396" height="12.3396" rx="3.08491" transform="rotate(45 163.5 222.884)" fill="white"></rect>
					<path d="M163.5 145.165L159.047 149.618L163.5 154.071L167.953 149.618L163.5 145.165ZM162.955 185.64C163.256 185.941 163.744 185.941 164.045 185.64L168.953 180.732C169.255 180.43 169.255 179.942 168.953 179.641C168.652 179.34 168.164 179.34 167.863 179.641L163.5 184.004L159.137 179.641C158.836 179.34 158.348 179.34 158.047 179.641C157.745 179.942 157.745 180.43 158.047 180.732L162.955 185.64ZM162.729 149.618V185.094H164.271V149.618H162.729Z" fill="#5C5C5C"></path>
					<path d="M240.623 135.911L236.17 140.363L240.623 144.816L245.075 140.363L240.623 135.911ZM240.623 231.368V232.139H241.394V231.368H240.623ZM209.228 230.823C208.927 231.124 208.927 231.612 209.228 231.913L214.136 236.821C214.437 237.123 214.926 237.123 215.227 236.821C215.528 236.52 215.528 236.032 215.227 235.731L210.864 231.368L215.227 227.005C215.528 226.704 215.528 226.216 215.227 225.915C214.926 225.613 214.437 225.613 214.136 225.915L209.228 230.823ZM239.851 140.363V231.368H241.394V140.363H239.851ZM240.623 230.597H209.774V232.139H240.623V230.597Z" fill="#5C5C5C"></path>
					<path d="M86.3774 135.911L90.8301 140.363L86.3774 144.816L81.9248 140.363L86.3774 135.911ZM86.3774 231.368V232.139H85.6062V231.368H86.3774ZM117.772 230.823C118.073 231.124 118.073 231.612 117.772 231.913L112.864 236.821C112.563 237.123 112.074 237.123 111.773 236.821C111.472 236.52 111.472 236.032 111.773 235.731L116.136 231.368L111.773 227.005C111.472 226.704 111.472 226.216 111.773 225.915C112.074 225.613 112.563 225.613 112.864 225.915L117.772 230.823ZM87.1487 140.363V231.368H85.6062V140.363H87.1487ZM86.3774 230.597H117.226V232.139H86.3774V230.597Z" fill="#5C5C5C"></path>
					<defs>
						<filter id="filter0_b_623_9803" x="-77.1226" y="-77.1226" width="481.245" height="481.245" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
							<feGaussianBlur in="BackgroundImage" stdDeviation="38.5613"></feGaussianBlur>
							<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_623_9803"></feComposite>
							<feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_623_9803" result="shape"></feBlend>
						</filter>
						<filter id="filter1_b_623_9803" x="64.7831" y="132.651" width="197.434" height="197.434" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
							<feGaussianBlur in="BackgroundImage" stdDeviation="38.5613"></feGaussianBlur>
							<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_623_9803"></feComposite>
							<feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_623_9803" result="shape"></feBlend>
						</filter>
						<filter id="filter2_b_623_9803" x="78.9301" y="147.039" width="169.14" height="169.14" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
							<feGaussianBlur in="BackgroundImage" stdDeviation="38.5613"></feGaussianBlur>
							<feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_623_9803"></feComposite>
							<feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_623_9803" result="shape"></feBlend>
						</filter>
					</defs>
				</svg>
				
			</div>
			<div class="flex flex-col basis-1/2">
				<h1 class="flex text-6xl self-center text-fuchsia-500">Easy to use</h1>
				<a class="flex p-2 self-center bg-fuchsia-500 text-xl font-bold rounded-lg outline-none cursor-pointer">Create now !</a>
				<p class="flex text-justify text-lg w-2/3 self-center">It is based on the blockchain technology and uses the Filecoin networkckchain to store your passwords.</p>
			</div>
		</div>

		<div class="flex flex-row border-solid border-b border-0 border-white pb-4">
			<div class="flex flex-col basis-1/2">
				<h1 class="flex text-6xl place-self-center text-sky-400">Gnosis based</h1>
				<p class="flex text-justify text-lg w-1/2 self-center">It is based on the blockchain technology and uses the Filecoin networkckchain to store your passwords.</p>
			</div>
			<div class="flex place-content-center basis-1/2">
				<svg class="basis-1/4 drop-shadow-[0_0_20px_rgba(255,255,255,0.7)] p-4" viewBox="0 0 428 428" width="300" fill="#fff"><path d="M125.8 243.7c12.3 0 24.3-4.1 34-11.6l-78-78c-18.8 24.3-14.3 59.3 10 78.1 9.8 7.4 21.7 11.5 34 11.5h0zm232-55.7c0-12.3-4.1-24.3-11.6-34l-78 78c24.3 18.8 59.2 14.3 78-10 7.5-9.7 11.6-21.7 11.6-34zm39.3-84.9l-34.5 34.5c27.8 33.3 23.4 82.9-9.9 110.7-29.2 24.4-71.6 24.4-100.8 0L214 286.2l-37.8-37.8c-33.3 27.8-82.9 23.4-110.7-9.9-24.4-29.2-24.4-71.6 0-100.8L47.8 120 31 103.1C10.7 136.5 0 174.9 0 214c0 118.2 95.8 214 214 214s214-95.8 214-214c.1-39.1-10.7-77.5-30.9-110.9zm-28.3-36.8c-81.5-85.5-216.9-88.7-302.4-7.2-2.5 2.4-4.9 4.8-7.2 7.2-5.3 5.6-10.3 11.4-15 17.5L214 253.7 383.8 83.8c-4.6-6.1-9.7-11.9-15-17.5zM214 28c50 0 96.6 19.3 131.6 54.5L214 214.1 82.4 82.5C117.4 47.3 164 28 214 28z"/></svg>
			</div>
		</div>

		<div class="flex flex-row">
			<div class="flex self-center basis-1/2 place-content-center">
				<svg width="200" height="200" viewBox="0 0 24 24" fill="none">
					<path fill-rule="evenodd" fill="#fff" clip-rule="evenodd" d="M11.5528 1.10557C11.8343 0.964809 12.1657 0.964809 12.4472 1.10557L22.4472 6.10557C22.862 6.31298 23.0798 6.77838 22.9732 7.22975C22.8667 7.68112 22.4638 8 22 8H1.99998C1.5362 8 1.13328 7.68112 1.02673 7.22975C0.920172 6.77838 1.13795 6.31298 1.55276 6.10557L11.5528 1.10557ZM6.23604 6H17.7639L12 3.11803L6.23604 6ZM5.99998 9C6.55226 9 6.99998 9.44772 6.99998 10V15C6.99998 15.5523 6.55226 16 5.99998 16C5.44769 16 4.99998 15.5523 4.99998 15V10C4.99998 9.44772 5.44769 9 5.99998 9ZM9.99998 9C10.5523 9 11 9.44772 11 10V15C11 15.5523 10.5523 16 9.99998 16C9.44769 16 8.99998 15.5523 8.99998 15V10C8.99998 9.44772 9.44769 9 9.99998 9ZM14 9C14.5523 9 15 9.44772 15 10V15C15 15.5523 14.5523 16 14 16C13.4477 16 13 15.5523 13 15V10C13 9.44772 13.4477 9 14 9ZM18 9C18.5523 9 19 9.44772 19 10V15C19 15.5523 18.5523 16 18 16C17.4477 16 17 15.5523 17 15V10C17 9.44772 17.4477 9 18 9ZM2.99998 18C2.99998 17.4477 3.44769 17 3.99998 17H20C20.5523 17 21 17.4477 21 18C21 18.5523 20.5523 19 20 19H3.99998C3.44769 19 2.99998 18.5523 2.99998 18ZM0.999976 21C0.999976 20.4477 1.44769 20 1.99998 20H22C22.5523 20 23 20.4477 23 21C23 21.5523 22.5523 22 22 22H1.99998C1.44769 22 0.999976 21.5523 0.999976 21Z" fill="#000000"/>
				</svg>				
			</div>
			<div class="flex flex-col basis-1/2">
				<h1 class="flex text-6xl place-self-center text-fuchsia-500">GDPR compliant</h1>
				<p class="flex text-justify text-lg w-1/2 self-center">Passhield doesn't keep any data on customers. Customers are the true owners of their data.</p>
			</div>
		</div>

	</div>       


	<div class="p-12 flex flex-row self-center bg-gradient-to-l from-[#410C57] via-[#6F1685] to-[#F556B1] rounded-2xl">
		<div class="flex flex-col basis-2/3">
			<h1 class="flex text-4xl font-bold bg-clip-text text-white text-left">Protect more than your passwords</h1>
			<p class="text-l text-justify w-2/3">You can use our advanced data storage system to securely store any type of sensitive information. And that's not all - our platform offers many other features to make your data management experience seamless and efficient.</p>
		</div>
		<svg class="fill-[#F556B1] basis-1/3" height="300px" width="300px" viewBox="0 0 370.32 370.32">
			<path d="M154.66,134.16H86.993c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h67.667c8.284,0,15-6.716,15-15 C169.66,140.876,162.944,134.16,154.66,134.16z"/>
			<path d="M154.66,224.16H86.993c-8.284,0-15,6.716-15,15c0,8.284,6.716,15,15,15h67.667c8.284,0,15-6.716,15-15 C169.66,230.876,162.944,224.16,154.66,224.16z"/>
			<path d="M271.993,152.878c-13.035,0-23.636,10.602-23.636,23.637v15.635h47.272v-15.635 C295.629,163.48,285.028,152.878,271.993,152.878z"/>
			<path d="M343.358,177.646v-1.131c0-31.924-21.069-59.017-50.031-68.109V73.703c0-3.934-1.56-7.706-4.344-10.484l-58.876-58.88 C227.323,1.561,223.557,0,219.623,0H42.439C26.386,0,13.327,13.06,13.327,29.112v312.095c0,16.054,13.059,29.113,29.111,29.113 h221.777c16.052,0,29.111-13.06,29.111-29.113v-11.508h22.758c22.557,0,40.908-18.352,40.908-40.91v-80.727 C356.993,196.148,351.755,185.208,343.358,177.646z M261.714,337.906H44.94V32.414h154.088v43.577 c0,10.554,8.554,19.106,19.105,19.106h43.58v10.8c-34.496,5-61.086,34.757-61.086,70.619v1.131 c-8.395,7.563-13.635,18.502-13.635,30.416v80.727c0,22.558,18.352,40.91,40.908,40.91h33.813V337.906z M331.993,219.73h-27.044 c-6.404,0-11.592,5.191-11.592,11.59c0,6.4,5.188,11.59,11.592,11.59h27.044v16.561h-27.044c-6.404,0-11.592,5.189-11.592,11.594 c0,6.402,5.188,11.592,11.592,11.592h27.044v6.133c0,8.789-7.121,15.91-15.908,15.91h-88.184c-8.787,0-15.908-7.121-15.908-15.91 v-80.727c0-8.016,5.925-14.643,13.635-15.748v-15.799c0-25.57,20.801-46.369,46.365-46.369c25.564,0,46.365,20.799,46.365,46.369 v15.799c7.71,1.105,13.635,7.732,13.635,15.748V219.73z"/>
		</svg>
	</div>

	<div class="p-12 flex flex-row self-center bg-gradient-to-br from-[#1D0143] to-[#6525BA] bg-opacity-40 rounded-2xl">
		<svg class="fill-sky-500 basis-1/3" height="300px" width="300px" viewBox="0 0 512 512">
			<path  d="M256.001,118.244c32.648,0,59.126-26.47,59.126-59.118S288.65,0,256.001,0s-59.118,26.477-59.118,59.126 S223.353,118.244,256.001,118.244z"/>
			<path d="M256.001,228.204c40.613,0,82.205-14.063,75.715-52.998c-2.643-15.812-15.718-37.977-25.65-47.901 c-1.286-1.278-7.108-1.612-8.69-0.632c-12.052,7.434-26.202,11.768-41.376,11.768c-15.166,0-29.316-4.334-41.367-11.768 c-1.583-0.98-7.406-0.646-8.691,0.632c-9.924,9.924-23.014,32.089-25.65,47.901C173.803,214.142,215.396,228.204,256.001,228.204z"/>
			<path d="M95.685,402.046c32.648,0,59.126-26.47,59.126-59.118c0-32.656-26.477-59.126-59.126-59.126 s-59.119,26.47-59.119,59.126C36.567,375.576,63.037,402.046,95.685,402.046z"/>
			<path d="M145.75,411.114c-1.285-1.293-7.107-1.612-8.69-0.639c-12.059,7.434-26.201,11.762-41.375,11.762 c-15.173,0-29.316-4.327-41.368-11.762c-1.583-0.972-7.413-0.654-8.697,0.639c-9.925,9.917-23.007,32.082-25.642,47.894 C13.487,497.944,55.08,512,95.685,512c40.613,0,82.206-14.056,75.714-52.992C168.758,443.196,155.675,421.031,145.75,411.114z"/>
			<path d="M416.314,402.046c32.648,0,59.118-26.47,59.118-59.118c0-32.656-26.47-59.126-59.118-59.126 s-59.126,26.47-59.126,59.126C357.189,375.576,383.666,402.046,416.314,402.046z"/>
			<path d="M492.022,459.008c-2.636-15.812-15.718-37.977-25.642-47.894c-1.286-1.293-7.115-1.612-8.698-0.639 c-12.052,7.434-26.194,11.762-41.368,11.762c-15.173,0-29.316-4.327-41.375-11.762c-1.583-0.972-7.405-0.654-8.69,0.639 c-9.924,9.917-23.003,32.082-25.646,47.894C334.113,497.944,375.701,512,416.314,512C456.92,512,498.512,497.944,492.022,459.008z"/>
			<path d="M336.24,370.973l-70.488-40.692v-81.385c0-5.387-4.363-9.75-9.75-9.75c-5.38,0-9.743,4.363-9.743,9.75v81.385 l-70.488,40.692c-4.66,2.693-6.265,8.662-3.572,13.322c2.694,4.662,8.661,6.258,13.322,3.572l70.48-40.7l70.488,40.692 c4.661,2.694,10.622,1.097,13.315-3.565C342.498,379.635,340.9,373.666,336.24,370.973z"/>
		</svg>
		<div class="flex flex-col basis-2/3 content-center">
			<h1 class="flex text-4xl text-white">Multi-party Encryption</h1>
			<p class="text-l text-justify w-2/3">Enhanced Security: With multi-party encryption, data remains encrypted throughout the computation, and no party has access to any other party's input or the result of the computation. This significantly reduces the risk of data breaches and unauthorized access.</p>
		</div>
	</div>

	<Comparator/>
	

	<div class="flex flex-col w-full text-3xl">
		<h1 class="ml-8 place-content-center self-center">Follow us on social</h1>
		<div class="flex place-content-around mx-8">
			<svg class="w-36 fill-white hover:fill-indigo-500 hover:scale-110 duration-300 cursor-pointer" viewBox="0 0 160 119"><path d="M135.535 9.96646C125.042 5.24938 113.941 1.89769 102.526 0C101.104 2.46985 99.443 5.7918 98.2974 8.43459C85.9899 6.65652 73.7956 6.65652 61.7143 8.43459C60.5693 5.7924 58.8706 2.46985 57.4356 0C46.0093 1.89857 34.8991 5.25879 24.4012 9.99108C3.51121 40.3216 -2.15192 69.8979 0.679331 99.0557C14.535 108.997 27.9624 115.036 41.1637 118.988C44.4445 114.653 47.3447 110.064 49.8343 105.267C45.0945 103.533 40.5251 101.397 36.1806 98.8827C37.3239 98.0685 38.4403 97.22 39.5281 96.3384C65.8543 108.169 94.4593 108.169 120.472 96.3384C121.564 97.2142 122.68 98.0626 123.819 98.8827C119.467 101.403 114.889 103.544 110.14 105.28C112.644 110.096 115.539 114.69 118.811 119C132.024 115.049 145.464 109.01 159.32 99.0557C162.642 65.2549 153.645 35.95 135.535 9.96646ZM53.4212 81.1242C45.5181 81.1242 39.0368 74.0353 39.0368 65.4032C39.0368 56.771 45.3799 49.6702 53.4212 49.6702C61.4631 49.6702 67.9437 56.7584 67.8056 65.4032C67.8181 74.0353 61.4631 81.1242 53.4212 81.1242ZM106.578 81.1242C98.6749 81.1242 92.1943 74.0353 92.1943 65.4032C92.1943 56.771 98.5368 49.6702 106.578 49.6702C114.62 49.6702 121.101 56.7584 120.962 65.4032C120.962 74.0353 114.62 81.1242 106.578 81.1242Z"></path></svg>
			<svg class="w-36 fill-white hover:fill-sky-500 hover:scale-110 duration-300 cursor-pointer" viewBox="0 0 160 120"><path d="M160 14.2053C154.009 16.6548 147.654 18.2627 141.146 18.9754C147.924 15.2262 153.129 9.28929 155.579 2.21547C149.136 5.74422 142.086 8.23045 134.735 9.56673C128.747 3.67938 120.216 0 110.774 0C92.6456 0 77.9475 13.5639 77.9475 30.2933C77.9475 32.668 78.2381 34.9798 78.7975 37.1975C51.5163 35.9338 27.3288 23.8736 11.1381 5.54531C8.31312 10.0195 6.69438 15.2239 6.69438 20.775C6.69438 31.2854 12.49 40.5574 21.2975 45.9902C16.0847 45.8396 10.9866 44.5402 6.42875 42.2007C6.42688 42.3276 6.42688 42.4545 6.42688 42.5819C6.42688 57.2596 17.7419 69.5039 32.7581 72.2869C27.9243 73.5001 22.8539 73.6777 17.9344 72.806C22.1113 84.8414 34.2344 93.5995 48.5981 93.8446C37.3638 101.969 23.2094 106.813 7.83063 106.813C5.18062 106.813 2.56813 106.669 0 106.389C14.5269 114.985 31.7813 120 50.3188 120C110.698 120 143.715 73.8385 143.715 33.8066C143.715 32.4926 143.684 31.1862 143.62 29.8872C150.046 25.5998 155.593 20.2894 160 14.2053Z"></path></svg>
			<svg class="w-36 fill-white hover:fill-[#0A66C2] hover:scale-110 duration-300 cursor-pointer" viewBox="0 0 16 16"><path d="M12.225 12.225h-1.778V9.44c0-.664-.012-1.519-.925-1.519-.926 0-1.068.724-1.068 1.47v2.834H6.676V6.498h1.707v.783h.024c.348-.594.996-.95 1.684-.925 1.802 0 2.135 1.185 2.135 2.728l-.001 3.14zM4.67 5.715a1.037 1.037 0 01-1.032-1.031c0-.566.466-1.032 1.032-1.032.566 0 1.031.466 1.032 1.032 0 .566-.466 1.032-1.032 1.032zm.889 6.51h-1.78V6.498h1.78v5.727zM13.11 2H2.885A.88.88 0 002 2.866v10.268a.88.88 0 00.885.866h10.226a.882.882 0 00.889-.866V2.865a.88.88 0 00-.889-.864z"/></svg>
		</div>
	</div>


	<div class="flex flex-col w-full items-center gap-4 pb-48">
		<h1 class="text-left w-full text-5xl mb-0">FAQ</h1>

		<details class="bg-opacity-30 bg-slate-500 w-[100%] border border-solid rounded-xl border-slate-500 list-none cursor-pointer hover:-translate-y-1 hover:scale-105 ease-in-out duration-300">
			<summary class="items-center flex font-bold list-none" id="chevron">
				<h2 class="ml-8 text-left">Our company uses another password manager. Is it difficult to migrate to Passhield ?</h2>
				<div class="grow"></div>
				<p class="text-3xl open:hidden mr-8">+</p>
				<p class="text-3xl hidden open:visible mr-8">-</p>
			</summary>

			<p class="flex m-8 text-justify">
				The Passhield team will help you to migrate your data from your old password manager to Passhield. You will be able to import your data in a few clicks.
			</p>
		</details>

		<details class="bg-opacity-30 bg-slate-500 w-[100%] border border-solid rounded-xl border-slate-500 list-none cursor-pointer hover:-translate-y-1 hover:scale-105 ease-in-out duration-300">
			<summary class="items-center flex font-bold list-none" id="chevron">
				<h2 class="ml-8">How Passhield works ?</h2>
				<div class="grow"></div>
				<p class="text-3xl open:hidden mr-8">+</p>
				<p class="text-3xl hidden open:visible mr-8">-</p>
			</summary>

			<p class="flex m-8 text-justify">
				Passhield is a blockchain password manager that uses cryptography to store securely your data on the Filecoin networkckchain. It is a decentralized application (Dapp) that runs on the Filecoin networkckchain.
			</p>
		</details>

		<details class="bg-opacity-30 bg-slate-500 w-[100%] border border-solid rounded-xl border-slate-500 list-none cursor-pointer hover:-translate-y-1 hover:scale-105 ease-in-out duration-300">
			<summary class="items-center flex font-bold list-none" id="chevron">
				<h2 class="ml-8">Does Passhield need a KYC ?</h2>
				<div class="grow"></div>
				<p class="text-3xl open:hidden mr-8">+</p>
				<p class="text-3xl hidden open:visible mr-8">-</p>
			</summary>

			<p class="flex ml-8">
				No ! You just have to connect your wallet to Passhield and you are ready to go !
			</p>
		</details>

		<details class="bg-opacity-30 bg-slate-500 w-[100%] border border-solid rounded-xl border-slate-500 list-none cursor-pointer hover:-translate-y-1 hover:scale-105 ease-in-out duration-300">
			<summary class="items-center flex font-bold list-none" id="chevron">
				<h2 class="ml-8">Who is this solution for ?</h2>
				<div class="grow"></div>
				<p class="text-3xl open:hidden mr-8">+</p>
				<p class="text-3xl hidden open:visible mr-8">-</p>
			</summary>

			<p class="flex ml-8 text-left">
				This solution is made for individuals and businesses who wants to store securely his passwords and data on the Filecoin networkckchain. This solution is also made for people who wants to use a password manager that is not centralized and that is not vulnerable to cyber attacks.
			</p>
		</details>

		<details class="bg-opacity-30 bg-slate-500 w-[100%] border border-solid rounded-xl border-slate-500 list-none cursor-pointer hover:-translate-y-1 hover:scale-105 ease-in-out duration-300">
			<summary class="items-center flex font-bold list-none" id="chevron">
				<h2 class="ml-8 text-left">Can we use Passhield on multiple platforms with the same credendentials ?</h2>
				<div class="grow"></div>
				<p class="text-3xl open:hidden mr-8">+</p>
				<p class="text-3xl hidden open:visible mr-8">-</p>
			</summary>

			<p class="flex ml-8 text-left">
				Yes of course ! You can use Passhield on multiple platforms with same credentials. You just have to connect your wallet to Passhield and you are ready to go !
			</p>
		</details>
	</div>

</BaseLayout>