---
---

<div class="flex flex-col gap-2">
    <div class="ml-[55px] flex flex-row place-content-around bg-purple-600 border-2 border-solid border-neutral-600 rounded-lg text-xl font-bold">
        <p>Q2 2023</p>
        <p>Q3 2023</p>
        <p>Q4 2023</p>
        <p>Q1 2023</p>
        <p>Q2 2024</p>
        <p>Q3 2024</p>
    </div>

    <div class="flex flex-row">
        <h1 class="self-center -rotate-90 -mx-10 -z-10">Features</h1>
        <div class="flex flex-col place-items-stretch border-2 border-solid border-neutral-600 rounded-lg w-full bg-[#360E6E]">
            <div class="ml-[0%] w-[20%] m-1 text-center bg-purple-600 rounded-lg font-bold text-xl hover:scale-110 duration-300 ease-in-out">Complete the web extension</div>
            <div class="ml-[15%] w-[25%] m-1 text-center bg-purple-600 rounded-lg font-bold text-xl hover:scale-110 duration-300 ease-in-out">Add multi-party encryption</div>
            <div class="ml-[30%] w-[25%] m-1 text-center bg-purple-600 rounded-lg font-bold text-xl hover:scale-110 duration-300 ease-in-out">Extend to other type of data</div>
            <div class="ml-[35%] w-[25%] m-1 text-center bg-purple-600 rounded-lg font-bold text-xl hover:scale-110 duration-300 ease-in-out">Wallet generator solution for company employees</div>
            <div class="ml-[50%] w-[30%] m-1 text-center bg-purple-600 rounded-lg font-bold text-xl hover:scale-110 duration-300 ease-in-out">Delegation of authority</div>
            <div class="ml-[66%] w-[34%] m-1 text-center bg-purple-600 rounded-lg font-bold text-xl hover:scale-110 duration-300 ease-in-out">Authority federation for companies</div>
            
        </div>
    </div>

    <div class="flex flex-row">
        <h1 class="self-center -rotate-90 -mx-10 -z-10">Strategy</h1>
        <div class="flex flex-col place-items-stretch border-2 border-solid border-neutral-600 rounded-lg w-full dark:bg-[#110c20] bg-[#360E6E]">
            <div class="ml-[0%] w-[20%] m-1 text-center bg-purple-600 rounded-lg font-bold text-xl  hover:scale-110 duration-300 ease-in-out">Communication on social networks</div>
            <div class="ml-[15%] w-[25%] m-1 text-center bg-purple-600 rounded-lg font-bold text-xl hover:scale-110 duration-300 ease-in-out">Make process to deploy our solution</div>
            <div class="ml-[35%] w-[25%] m-1 text-center bg-purple-600 rounded-lg font-bold text-xl hover:scale-110 duration-300 ease-in-out">Build partnerships</div>
            <div class="ml-[50%] w-[30%] m-1 text-center bg-purple-600 rounded-lg font-bold text-xl hover:scale-110 duration-300 ease-in-out">Integrate public institutions</div>
            <div class="ml-[66%] w-[34%] m-1 text-center bg-purple-600 rounded-lg font-bold text-xl hover:scale-110 duration-300 ease-in-out">Get ISO/IEC 27001 norm</div>
            
        </div>
    </div>
</div>